# W&B username
WANDB_USERNAME=${WANDB_USERNAME}
# W&B API key
WANDB_API_KEY=${WANDB_API_KEY}
# UT EID (for tracking ownership of Ray jobs)
UT_EID=${UT_EID}
# Whether to display full stack traces when run fails.
# Can be helpful for debugging
HYDRA_FULL_ERROR=0